@font-face {
    font-family: poppins-medium;
    src: url("Poppins-Medium.ttf");
}

body{
    background-image: url("bg.jpg");
    overflow: hidden;
    font-family: poppins-medium;

}


/* LOGIN FORM */

.chatxh1 {
    font-family: poppins-medium;
    text-align: center;
    font-size: 200px;
    color: white;
    text-shadow: 5px 5px rgba(255, 255, 255, 0.3);
    margin-top: 0;
}

.login-form {
    width: 50%;
    height: 60vh;
    background-color: rgba(255, 255, 255, 0.8);
    margin: auto;
    margin-top: -15vh;
    border-radius: 25px;
}

.login-h1 {
    text-align: center;
    font-size: 60px;
    padding-top: 2.5vh;
}

.login-inputs {
    width: 80%;
    height: 5vh;
    margin-left: 10%;
    background-color: rgba(255, 255, 255, 0.4);
    border: none;
    text-align: center;
    border-radius: 25px;
    font-size: 30px;
}

#login-password {
    margin-top: 50px;
}

#login-submit {
    width: 30%;
    color: white;
    font-size: 40px;
    background-color: rgba(0, 0, 0, 999);
    border: none;
    margin-left: 35%;
    margin-top: 10vh;
    height: 10vh;
    border-radius: 25px;
}

#login-register {
    position: absolute;
    margin-top: 22.5vh;
    margin-left: -30%;
    font-size: 25px;
    border: none;
    background-color: transparent;
}

button:hover{
    cursor: pointer;
}

@media only screen and (min-width: 0px){
    body{
        overflow: hidden;
    }

    .chatxh1 {
        width: 80%;
        font-size: 80px;
        text-align: center;
        margin-left: 10%;
    }

    .login-form {
        width: 90%;
        height: 60vh;
        margin-top: 10vh;
    }

    .login-h1 {
        text-align: center;
        font-size: 35px;
    }

    #login-submit{
        width: 80%;
        margin-left: 10%;
        margin-top: 5vh;
        font-size: 30px;
    }

    #login-register{
        margin: auto;
        width: 100%;
        text-align: center;
        position: relative;
    }
}

@media only screen and (min-width: 320px){
    body{
        overflow: hidden;
    }

    .chatxh1 {
        width: 80%;
        font-size: 80px;
        text-align: center;
        margin-left: 10%;
    }

    .login-form {
        width: 90%;
        height: 60vh;
        margin-top: 10vh;
    }

    .login-inputs{
        font-size: 20px;
    }

    .login-h1 {
        text-align: center;
        font-size: 35px;
    }

    #login-submit{
        width: 80%;
        margin-left: 10%;
        margin-top: 5vh;
        font-size: 30px;
    }

    #login-register{
        margin: auto;
        width: 100%;
        text-align: center;
        position: relative;
    }
}

@media only screen and (min-width: 1024px){
    body{
        overflow: hidden;
    }

    .chatxh1 {
        width: 80%;
        font-size: 80px;
        text-align: center;
        margin-left: 10%;
    }

    .login-form {
        width: 60%;
        height: 60vh;
        margin-top: 10vh;
    }

    .login-inputs{
        font-size: 20px;
    }

    .login-h1 {
        text-align: center;
        font-size: 35px;
    }

    #login-submit{
        width: 80%;
        margin-left: 10%;
        margin-top: 5vh;
        font-size: 30px;
    }

    #login-register{
        margin: auto;
        width: 100%;
        text-align: center;
        position: relative;
    }
}
@media only screen and (min-width: 2560px){
    body{
        overflow: hidden;
    }

    .chatxh1 {
        width: 80%;
        font-size: 80px;
        text-align: center;
        margin-left: 10%;
    }

    .login-form {
        width: 60%;
        height: 60vh;
        margin-top: 10vh;
    }

    .login-inputs{
        font-size: 40px;
    }

    .login-h1 {
        text-align: center;
        font-size: 50px;
    }

    #login-submit{
        width: 80%;
        margin-left: 10%;
        margin-top: 5vh;
        font-size: 50px;
    }

    #login-register{
                font-size: 50px;

        margin: auto;
        width: 100%;
        text-align: center;
        position: relative;
    }
}

/* REGISTER FORM */


.register-form {
    width: 50%;
    height: 60vh;
    background-color: rgba(255, 255, 255, 0.8);
    margin: auto;
    margin-top: 0vh;
    border-radius: 25px;
}

.register-h1 {
    text-align: center;
    font-size: 60px;
    padding-top: 2.5vh;
}

.register-inputs {
    width: 80%;
    height: 5vh;
    margin-left: 10%;
    background-color: rgba(255, 255, 255, 0.4);
    border: none;
    text-align: center;
    border-radius: 25px;
    font-size: 30px;
}

#register-password {
    margin-top: 50px;
}

#register-email {
    margin-top: 50px;
}

#register-submit {
    width: 30%;
    color: white;
    font-size: 40px;
    background-color: rgba(0, 0, 0, 999);
    border: none;
    margin-left: 60%;
    margin-top: 5vh;
    height: 10vh;
    border-radius: 25px;
}

#afsz-checkbox {
    width: 25px;
    height: 25px;
    position: absolute;
    margin-top: 20vh;
    margin-left: -40vw;
}

#afsz-label {
    height: 25px;
    position: absolute;
    margin-top: 20vh;
    margin-left: -38vw;
}

#register-register {
    position: absolute;
    margin-top: 22.5vh;
    margin-left: -30%;
    font-size: 25px;
    border: none;
    background-color: transparent;
}